<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css" />
    <title>TodoApp | @ViewData["Title"]</title>
</head>

<body>
    <div class="pagecontainer">
        <div class="wrapper">
    <header>
        <div class="flex-between">
            <div>
                <!--Logga-->

                <a asp-controller="Home" asp-action="Index">
                    <img src="~/todo-logo.png" alt="" />
                </a>
            </div>
            <div>
                <!--Navigering-->
                <nav>
                    <ul>
                        <a asp-controller="Home" asp-action="List">
                        <li>Lägg till</li>
                        </a>

                        <a asp-controller="Home" asp-action="About">
                        <li>Om appen</li>
                        </a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>

        @RenderBody()

    </main>
</div>
<footer>
    <p>Skapad av Emma Forslund</p>
</footer>
    </div>
</body>
</html>
